<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.ApiDescription.Client" version="6.0.7" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NSwag.ApiDescription.Client" version="13.16.1" targetFramework="net472" developmentDependency="true" />
  <package id="NSwag.MSBuild" version="13.16.1" targetFramework="net472" developmentDependency="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="net472" />
</packages>